<% var title = 'Info' %>
<main class="container justify-content-center" style="min-width: 80vw;">
    <!-- Ticket Info widget -->
    <!-- NOTE: remove visually-hidden during development -->
    <div id="ticket-view" class="card visually-hidden" style="margin-top: 5px; margin-bottom: 5vh; min-width: 80vw;">
        <h4 class="card-header">Ticket Info</h4>
        <a class="btn btn-primary" href="/update/info/<%=ticket._id %>"> </a>
        <div class="card-body">
            <p class="card-text">ID: <span id="ticket-id"><%=ticket._id %></span></p>
            <p class="card-text">Headline: <span id="headline"><%= ticket.headline %></span></p>
            <p class="card-text">Priority: <span id="priority"><%= ticket.priority %></span></p>
            <p class="card-text">Category: <span id="category"><%= ticket.category %></span></p>
            <div class="card">
                <h5 class="card-header">Keywords</h5>
                <div class="card-body">
                    <div class="card-text" id="keywords">
                        <%=ticket.keywords%>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top: 5px;">
                <h5 class="card-header">Description</h5>
                <div class="card-body card-text" id="description">
                    <%= ticket.description %>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="similar">
        <% for(var i=0; i < similar.length; i++) { %>
        <div class="card" style="margin-top: 5px;">
            <h5 class="card-header">ID: <%=similar[i].id %></h5>
            <div class="card-body card-text">
                <%=similar[i].description %>
            </div>
        </div>
        <% } %>
    </div>
</main>
